.container
  %h1.mt-5.mb-3
    Chat Export Help
  .row.mb-5
    .col-12
      This page provides information about how to export chat histories from Whatsapp and Facebook messenger.
  .row
    .col-12.col-md-6
      #accordion
        .card
          #headingWhatsapp.card-header
            %h6.mb-0
              %button.btn.btn-link{ data: { toogle: 'collapse', target: "#collapseWhatsapp", parent: "#accordion" }, aria: { expanded: 'true', controls: 'collapseWhatsapp' } }
                How to export a Chat in Whatsapp?
          %ul.list-group.list-group-flush
            %li.list-group-item
              %h6
                %b Step 1:
                Open the chat, you want to export on your smartphone app and click on the three dots in the upper right corner.
                %br
              .text-center
                = image_tag("WA01.png", width: "400", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 2:
                From the appearing menu select "More".
                %br
              .text-center
                = image_tag("WA02.png", width: "400", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 3:
                Select "Export Chat".
                %br
              .text-center
                = image_tag("WA03.png", width: "400", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 4:
                Select "Without Media".
                %br
              .text-center
                = image_tag("WA04.png", width: "400", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 5:
                Now that is the tricky part: Depending on your device configuration you have multiple options here. If your device offers the opportunity to save the file driectly, go ahead and do so. If not, select an email program from the list and send an email with the chat to yourself. Download the attachment afterwards.
                %br
              .text-center
                = image_tag("WA05.png", width: "400", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 6:
                Upload the exported chatfile and start to creating your design.
    .col-12.col-md-6
      #accordion
        .card
          #headingWhatsapp.card-header
            %h6.mb-0
              %button.btn.btn-link{ data: { toogle: 'collapse', target: "#collapseWhatsapp", parent: "#accordion" }, aria: { expanded: 'true', controls: 'collapseWhatsapp' } }
                How to export a Chat in Facebook Messenger?
          -# #collapseWhatsapp.collapse.show{ data: { parent: '#accordion' }, aria: { labelledby: '#headingWhatsapp' } }
          -#   .card-body
          -#     TEST2
          %ul.list-group.list-group-flush
            %li.list-group-item
              %h6
                %b Hint:
                The export from Facebook only works with the desktop version.
            %li.list-group-item
              %h6
                %b Step 1:
                Log-in to Facebook as usual.
            %li.list-group-item
              %h6
                %b Step 2:
                Click on the arrow in the upper right corner and select Options.
                %br
              .text-center
                = image_tag("FB01.png", width: "300", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 3:
                In the options menu select "My Data".
                %br
              .text-center
                = image_tag("FB02.png", width: "300", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 4:
                Click on "Download my Data".
                %br
              .text-center
                = image_tag("FB03.png", width: "500", class: "mt-2 img-fluid")
            %li.list-group-item
              %h6
                %b Step 5:
                Select "JSON" as format. In addition you can limit the time period from which you messages will be extracted from by setting up "Date-Range".
                %br
              .text-center
                = image_tag("FB04.png", width: "500", class: "mt-2 img-fluid")
              %h6.mt-4 Deselect all data-typen and only select "messages".
              .text-center
                = image_tag("FB05.png", width: "500", class: "mt-2 img-fluid")
              %h6.mt-4 Click on "Create Data".
            %li.list-group-item
              %h6
                %b Step 6:
                Fetching your data takes some time and facebook notifies you via email when it is ready for download. Follow the link in the email to download the files.
            %li.list-group-item
              %h6
                %b Step 7:
                Unzip the archive. The folder contains a lot of different files. Navigate to /messages/inbox/ and find the folder named after the contact whichs history you want to upload.
            %li.list-group-item
              %h6
                %b Step 8:
                From this folder upload the files "message.json" and start creating your design.
