.container
  %h1 Impressum
  %b Angaben gemäß § 5 TMG
  %br
  %br
  = @owner_name
  %br
  = @owner_street
  %br
  = "#{@owner_city}"
  %br
  %br
  %b Kontakt:
  %br
  = "Telefon: #{@owner_phone}"
  %br
  = "E-Mail: #{@owner_email}"
  %br
  %br
  %b Haftungsausschluss: 
  %br
  %b Haftung für Links
  %br
  Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
  %br
  %br
  Background pictures are sourced from 
  %li
    %a{ href: "https://freepik.com", title "freepic.com" }
