.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
  .col-md-5.p-lg-5.mx-auto.my-5
    %h1.display-4.font-weight-normal 
      Welcome to Chatbook
    %p.lead.font-weight-normal
      This Page was created to help you transform chat exports from WhatsApp and Facebook Messenger into beautiful PDF-files
    %p Start creating your Desing today: 
    - if !user_signed_in?
      = link_to "Login", new_user_session_path, class: "btn btn-success mr-2"
      = link_to "Sign up", new_user_registration_path, class: "btn btn-success mr-2"
    - if user_signed_in?
      = link_to "Upload new Chat", new_chat_upload_path, class: "btn btn-success"
      = link_to "To my Uploads", chat_uploads_path, class: "btn btn-secondary"
  .product-device.box-shadow.d-none.d-md-block
    .mt-6
      = image_tag 'product.png', alt: '', height: '', width: '280', class: 'rounded'
  .product-device.product-device-2.box-shadow.d-none.d-md-block
    .mt-2
      = image_tag 'product.png', alt: '', height: '', width: '280', class: 'rounded transp-5'
-# .col-12.mt-4.text-center
-#   .fa.fa-arrow-down.mr-3
-#   View Designs
-#   .fa.fa-arrow-down.ml-3
-# .d-none.col-12.d-flex.justify-content-center
-#   .col-8.mt-4.text-center.jumbotron
-#     %h4.mt-5 Speechbubble Desing
-#     = image_tag 'preview_page_outline_bubbles_02.png', alt: '', height: '', width: '650', class: 'rounded'
-#     %h4.mt-5 Flowtext Desing
-#     = image_tag 'preview_page_outline_flow_02.png', alt: '', height: '', width: '650', class: 'rounded'
-#     %h4.mt-5 Table Desing
-#     = image_tag 'preview_page_outline_table.png', alt: '', height: '', width: '650', class: 'rounded'
