- if @chat_upload.processing?
  -# reload page every 5 seconds as long the upload processes
  :javascript
    $(document).ready(function () {
      setTimeout(refreshProcessingViewChatUploadPartial, 5000, #{@chat_upload.id});
    });
  %h3
    %span.fa.fa-spinner.fa-spin 
    Your Upload is currently being processed...
  You will be redirected, once this is finished.
  %br
  %br
  %br
  Depending on the number of messages this may take several minutes. 
  %br
  You do not have to wait, you can access your upload via 
  = link_to "My Uploads", chat_uploads_path
  at any time.
- if @chat_upload.error?
  %h3
    %span.fa.fa-times-circle
    An error occured while processing your upload.
  Make sure you have seleted the correct messenger type and try to upload your chat again.
  %br
  %br
  %br
  %h6 If the error persists, it is likely that your chat export is not processable...
  The export format is defined by the messenger's company and can be changed at any time, making 
  %br
  it unreadable for our system. Unfortunately we do not have any influence on that. Sorry!