%td
  = chat_upload.created_at.strftime("%d/%m/%Y")
%td
  %span{data:{ toggle: "tooltip", placement: "right" }, title: chat_upload.description }
    = chat_upload.name
%td
  - if chat_upload.whatsapp?
    .fab.fa-whatsapp
  - else
    = icon('fab', 'facebook-messenger')  
  = ChatUpload.human_enum_name(:messenger_type, chat_upload.messenger_type)
  %span.badge.badge-success{data:{ toggle: "tooltip", placement: "top" }, title: "Messages in this upload" }
    = chat_upload.message_count
  - if chat_upload.groupchat?
    %span.badge.badge-secondary
      Group
%td
  - if chat_upload.processing?
    -# reload page every 5 seconds as long something processes
    :javascript
      $(document).ready(function () {
        setTimeout(refreshProcessingChatUploadPartial, 5000, #{chat_upload.id}, #{@current_page});
      });
    %span.fa.fa-spinner.fa-spin
    = t("processing", scope: :dict)
  - if chat_upload.success?
    %span.fa.fa-check-circle
    = t("success", scope: :dict)
  - if chat_upload.error?
    %div
      %span.fa.fa-times-circle
      = t("error", scope: :dict)
      (
      %a{ data: { toggle: "popover", content: chat_upload.processing_error.to_s, trigger: "focus", placement: "top" }, tabindex: '0', href: 'javascript:void(0);' }
        = t("details", scope: :dict)
      )
%td.text-right
  = link_to chat_upload_chat_designs_path(chat_upload), class: "btn btn-primary mr-2 #{ 'disabled' unless chat_upload.processing_status == "success" }" do
    = "Designs"
  -# = link_to "#", class: "btn btn-primary mr-2" do
  -#   = icon('fas', 'pencil-alt')
  = link_to chat_upload_path(chat_upload), method: :delete, data: { confirm: 'Are you sure you want to delete this Upload and all its Designs?' }, class: "btn btn-danger" do
    = icon('fas', 'trash-alt')