%table.table.table-striped
  %thead
    %th 
      = t(".uploaded_at")
    %th 
      = t(".name")
    %th 
      = t(".messenger")
    %th
      = t("status", scope: :dict)
    %th.text-right 
      = t(".actions")
  %tbody
    - chat_uploads.each do |chat_upload|
      %tr{id: "chat-upload-row-#{chat_upload.id}"}
        = render "chat_uploads/row", chat_upload: chat_upload