.container
  .col-12
    %h1 
      =t(".my_uploaded_chats")
  .col-12.text-right.mt-2.mb-2
    = link_to new_chat_upload_path, class: "btn btn-secondary" do
      = icon('fas','plus')
      = t(".add_new_upload")
  .col-12.d-block
    #chat_uploads_table
      = render "table", chat_uploads: @chat_uploads
  - if !@chat_uploads.any?
    .row.mt-5
      .col-12.text-center
        It seems, that your do not have any uploads yet. Start uploading by clicking
        = link_to new_chat_upload_path do
          here
        \.
  - else
    .row.mt-3.justify-content-center
      .col-auto
        = paginate @chat_uploads

