.container
  %h1 
    = t(".upload_new_chat_history")
  .jumbotron
    = simple_form_for @chat_upload do |f|
      .mb-3
        By filling in the information below, you can upload your chat export from WhatsApp and Facebook Messenger and create a beautiful design. Your data is send via encrypted connection and is stored savely. You can delete the upload at any time.
      = f.input :name, hint: "Choose a name for your Upload."
      = f.input :description, as: :text, hint: "Optional: Choose a description for your Upload."
      .row.mt-5.mb-5
        .col-12
          In the following section you have to choose the file, you want to upload, and the messenger this file was exported from. In case you are not sure how to export your history, please visit the
          = link_to static_page_export_help_path do
            .fa.fa-question-circle
            help page
          \.
      .row.mb-3
        .col-6
          = f.label :file_raw, label: "Messenger Export file"
          .alert{class: (@chat_upload.errors[:file_raw].present?) ? "alert-danger" : "alert-secondary" }
            = f.file_field :file_raw, label: "Chat History file"
            = f.error :file_raw
        .col-6
          = f.input :messenger_type, as: :select, collection: enum_option_pairs(ChatUpload, :messenger_type), hint: "Select your messenger."
      Once you click on upload your data will be processed in the background.
      %br
      = f.button :submit, "Upload", class: "btn btn-secondary mt-2"
