.vertical-center.text-center
  .container
    .row
      .col-12#processing-status
        = render "chat_uploads/processing_view"
    .row
      .col-12.mt-4
        = link_to "Back to Uploads", chat_uploads_path, class: "btn btn-secondary"
