= simple_form_for @chat_design, url: form_url do |f|
  .form_input
    .row
      .col-12.col-md-6  
        = f.input :name, hint: "Please select a name for your design", item_wrapper_class: "form-control"
    .row 
      .col-12.col-md-6
        = f.input :my_user_name, as: :select, collection: @chat_upload.participants, hint: "Please select your username from the chat"
      .col-12.col-md-3
        = f.input :period_from, as: :string, input_html: { class: 'datetime', value: (f.object.period_from.strftime("%d.%m.%Y %H:%M") if f.object.period_from.present?), autocomplete: 'off' }
      .col-12.col-md-3
        = f.input :period_to, as: :string, input_html:{ class: 'datetime', value: (f.object.period_to.strftime("%d.%m.%Y %H:%M") if f.object.period_to.present?), autocomplete: 'off' }
    .row
      .col-4
        = f.input :page_size, as: :select, collection: enum_option_pairs(ChatDesign,:page_size)
      .col-4
        = f.input :page_outline, as: :select, collection: enum_option_pairs(ChatDesign, :page_outline)
      .col-4
        = f.input :column_count, as: :radio_buttons, collection: 1..3, item_wrapper_class: "form-check form-check-inline"
    .row
      .col-4
        = f.input :color_set, as: :select, collection: ChatDesign.color_sets.keys
      .col-4
        = f.input :font, as: :select, collection: ChatDesign.fonts.keys
      .col-4
        = f.input :bg_image, as: :select, collection: ChatDesign.get_background_images
  
  .form-submit
    = f.button :submit, "Save", class: "btn btn-secondary"