- if @chat_design.processing?
  -# reload page every 5 seconds as long the upload processes
  :javascript
    $(document).ready(function () {
      setTimeout(refreshProcessingViewChatDesignPartial, 5000, #{@chat_upload.id});
    });
.row
  .col-12.mb-4
    - if @chat_design.processing?
      .text-center
        %h4
          .fa.fa-spinner.fa-spin
          Preparing your Download...
        You can check the progress below. Depending on the length of your chat, this may take some time.
    - if @chat_design.success?
      .text-center
        %h4
          .fa.fa-check-circle
          Your files are ready to download.
        Click one of the links below.
    - if @chat_design.error?
      - if @chat_design.tex_file.attached? && !@chat_design.pdf_file.attached?
        .text-center
          %h4
            .fa.fa-info-circle
            Error in PDF creation.
          In some constellations, the PDF generation fails.
          You can download the TEX file and try to debug the error yourself.
      - else
        .text-center
          %h4
            .fa.fa-times-circle
            Error in file preparation.
          The file preparation failed. You can try a different design configuration. Edit & Save your Design to try again.
.row.row-eq-height
  .col-12.col-md-4
    .card.h-100.m-3
      .card-header
        .row
          .col-auto
            Design
          .col-auto.ml-auto
            .fa.fa-check-circle
      .card.m-3
        .list-group.list-group-flush
          .list-group-item.d-flex.justify-content-between.align-items-center
            Pagesize
            %span.badge.badge-secondary
              = ChatDesign.human_enum_name(:page_size, @chat_design.page_size)
          .list-group-item.d-flex.justify-content-between.align-items-center
            Design
            %span.badge.badge-secondary
              = ChatDesign.human_enum_name(:page_outline, @chat_design.page_outline)
          .list-group-item.d-flex.justify-content-between.align-items-center
            Columns
            %span.badge.badge-secondary
              = "#{@chat_design.column_count} columns"
          .list-group-item.d-flex.justify-content-between.align-items-center
            Colorset
            %span.badge.badge-secondary
              = ChatDesign.human_enum_name(:color_set, @chat_design.color_set)
          .list-group-item.d-flex.justify-content-between.align-items-center
            Font
            %span.badge.badge-secondary
              = ChatDesign.human_enum_name(:font, @chat_design.font)
      .card-body.pb-0.pt-0.bg-transparent.text-center{data:{ toggle: "tooltip", placement: "top" }, title: "#{'Design can not be edited or deleted while it is being processed.' if @chat_design.processing?}"}
        = link_to chat_upload_chat_design_wizard_path(@chat_design.chat_upload, @chat_design, :create_design), class: "btn btn-primary mr-2 #{'disabled' if @chat_design.processing?}" do
          = icon('fas', 'pen')
          Edit
        = link_to [@chat_design.chat_upload,@chat_design], method: :delete, class: "btn btn-danger #{'disabled' if @chat_design.processing?}" do
          = icon('fas', 'trash-alt')
          Delete
  .col-12.col-md-4
    .card.h-100.m-3
      .card-header.bg-secondary.text-white
        .row
          .col-auto
            TEX File
          .col-auto.ml-auto
            - if @chat_design.processing? && !@chat_design.tex_file.attached?
              .fa.fa-spinner.fa-spin
            - else
              - if @chat_design.tex_file.attached?
                .fa.fa-check-circle
              - else
                .fa.fa-times-circle
      .card-body
        .cade-text
          If you are familiar with LaTeX, you can download the TEX file of your Design. Hereby, you have to opportunity to customize your design even further by editing the file directly.
      .card-footer.bg-transparent.text-center
        - if !@chat_design.tex_file.attached?
          - if !@chat_design.processing?
            %span.progress{ style: "height: 20px;", data:{ toggle: "tooltip", placement: "top" }, title: ""}
              .progress-bar.progress-bar-striped.bg-danger{style: "width: 100%"}
                Error
          - else
            %span.progress{ style: "height: 20px;", data:{ toggle: "tooltip", placement: "top" }, title: "Building TEX files..."}
              .progress-bar.progress-bar-striped.progress-bar-animated.bg-secondary{style: "width: #{@chat_design.processing_progress}%"}
        - else
          - if @chat_design.tex_file.attached?
            = link_to file_information_tex_path(@chat_design), class: "btn btn-secondary mr-2 #{'disabled' unless @chat_design.tex_file.attached?}" do
              = icon('fas', 'download')
              Download TEX
  .col-12.col-md-4
    .card.h-100.m-3
      .card-header.bg-primary.text-white
        .row
          .col-auto
            PDF File
          .col-auto.ml-auto
            - if @chat_design.processing?
              .fa.fa-spinner.fa-spin
            - else
              - if @chat_design.pdf_file.attached?
                .fa.fa-check-circle
              - else
                .fa.fa-times-circle
      .card-body
        .card-text
          Your Design in PDF format. This format is perfect for printing and displaying on a screen. You can download the file by clicking on the link below.
      .card-footer.bg-transparent.text-center
        - if !@chat_design.processing? 
          - if @chat_design.pdf_file.attached?
            = link_to file_download_pdf_path(@chat_design), class: "btn btn-primary mr-2 #{'disabled' unless @chat_design.pdf_file.attached?}", target: "_blank" do
              = icon('fas', 'download')
              Download PDF
          - else
            %span.progress{ style: "height: 20px;", data:{ toggle: "tooltip", placement: "top" }, title: ""}
              .progress-bar.progress-bar-striped.bg-danger{style: "width: 100%"}
                Error
        - else
          - if !@chat_design.tex_file.attached?
            %span.progress{ style: "height: 20px;", data:{ toggle: "tooltip", placement: "top" }, title: ""}
              .progress-bar.progress-bar-striped{style: "width: 100%"}
                Waiting for TEX file...
          - else
            %span.progress{ style: "height: 20px;", data:{ toggle: "tooltip", placement: "top" }, title: "Compiling PDF..."}
              .progress-bar.progress-bar-striped.progress-bar-animated{style: "width: 100%"}
