- if chat_design.processing_status == "processing"
  -# reload page every 5 seconds as long something processes
  :javascript
    $(document).ready(function () {
      setTimeout(refreshProcessingChatDesignPartial, 5000, #{chat_design.id}, #{@current_page});
    });
  .mt-1
    %span.progress{ style: "height: 20px; width: 120px;", data:{ toggle: "tooltip", placement: "top" }, title: "#{ chat_design.tex_file.attached? ? "Compiling PDF file with LaTeX..." : "Building TEX files..."}" }
      - if chat_design.tex_file.attached?
        .progress-bar.progress-bar-striped.progress-bar-animated.bg-success{style: "width: 100%"}
      - else
        .progress-bar.progress-bar-striped.progress-bar-animated{style: "width: #{chat_design.processing_progress}%"}
- if chat_design.processing_status == "success"
  %span.fa.fa-check-circle
  = t("success", scope: :dict)
- if chat_design.processing_status == "error"
  %div
    %span.fa.fa-times-circle
    = t("error", scope: :dict)
    (
    %a{ data: { toggle: "popover", content: chat_design.processing_error.to_s, trigger: "focus", placement: "top" }, tabindex: '0', href: 'javascript:void(0);' }
      = t("details", scope: :dict)
    )