%td
  = chat_design.created_at.strftime("%d/%m/%Y")
%td
  = chat_design.name
%td
  - if chat_design.period_from.present? && chat_design.period_to.present?
    %span.badge.badge-secondary
      = chat_design.period_from.strftime("%d/%m/%y")
    \-
    %span.badge.badge-secondary
      = chat_design.period_to.strftime("%d/%m/%y")
  - else
    %span.badge.badge-secondary
      All Messages  
%td
  %span.badge.badge-secondary
    = ChatDesign.human_enum_name(:page_size, chat_design.page_size)
  %span.badge.badge-secondary
    = ChatDesign.human_enum_name(:page_outline, chat_design.page_outline)
%td
  = render "chat_designs/processing_status", chat_design: chat_design
%td.text-right
  = link_to chat_upload_chat_design_processing_path(chat_design.chat_upload, chat_design), class: "btn btn-primary" do
    = icon('fas', 'download')
  %span.p-0{data:{ toggle: "tooltip", placement: "top" }, title: "#{'Design can not be edited or deleted while it is being processed.' if chat_design.processing? }" }
    = link_to chat_upload_chat_design_wizard_path(chat_design.chat_upload, chat_design, :create_design), class: "btn btn-primary mr-1 #{'disabled' if chat_design.processing?}" do
      = icon('fas', 'pen')
    = link_to [chat_design.chat_upload,chat_design], method: :delete, class: "btn btn-danger #{'disabled' if chat_design.processing?}" do
      = icon('fas', 'trash-alt')