%table.table.table-striped
  %thead
    %th 
      = t(".created_at")
    %th 
      = t(".design_name")
    %th
      = t(".period")
    %th
      = t(".configuration")
    %th
      = t("status", scope: :dict)
    %th.text-right 
      = t(".actions")
  %tbody
    - chat_designs.each do |chat_design|
      %tr{id: "chat-design-row-#{chat_design.id}"}
        = render "chat_designs/row", chat_design: chat_design