.container
  %h1.mb-4
    =t(".my_designs", chat_upload: @chat_upload.name)
  .row
    .col-auto.mt-2.mb-2
      = link_to chat_uploads_path, class: "btn btn-secondary" do
        = icon('fas','arrow-left')
        = t(".back_to_uploads")
    .col-auto.text-right.mt-2.mb-2.ml-auto.pr-0
      -# = link_to new_chat_upload_chat_design_path, class: "btn btn-secondary" do
      -#   = icon('fas','plus')
      -#   = t(".quick_add_design")
    .col-auto.text-right.mt-2.mb-2
      = link_to ("chat_designs/build/wizard/"), method: :post, class: "btn btn-secondary" do
        = icon('fas','plus')
        = t(".create_new_design")
    .col-12.d-block
      #table_body_rows
        = render "chat_designs/table", chat_designs: @chat_designs
  - if !@chat_designs.any?
    .row.mt-5
      .col-12.text-center
        It seems, that your do not have any designs for
        %b
          = @chat_upload.name
        yet. Start creating one by clicking
        = link_to ("chat_designs/build/wizard/"), method: :post do
          here
        \.
  - else
    .row.mt-3.justify-content-center
      .col-auto
        = paginate @chat_designs
