.container
  .jumbotron
    #processing-status
      = render "chat_designs/processing_view"
    .mt-5
      .col-12
        = link_to chat_upload_chat_designs_path, class: "btn btn-secondary" do
          = icon('fas','arrow-left')
          Back to Designs