- unless @local_mode == "true"
  %footer.footer
    .container
      .d-flex.flex-column.flex-md-row.justify-content-center
        %span.mr-3
          = link_to 'Imprint', '/imprint/'
        %span.mr-3
          = link_to 'Privacy Policy', '/privacy_policy/'
