%header
  .navbar.navbar-expand.navbar-dark.fixed-top.bg-dark.sticky-header
    .container
      = link_to 'Chatbook', root_path, class: "navbar-brand"
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Home', root_path, class: "nav-link"
        - if user_signed_in?
          %li.nav-item
            = link_to "My Uploads", chat_uploads_path, class: "nav-link"
          %li.nav-item
            = link_to "Profile",edit_user_registration_path, class: "nav-link"
          %li.nav-item
            = link_to "Logout", destroy_user_session_path,  method: :delete, class: "nav-link"
        - else
          %li.nav-item
            = link_to "Login", new_user_session_path, class: "nav-link"
