.container
  .col-12.d-flex.justify-content-center
    .col-12.col-md-6
      .card
        .card-header
          Download Tex-Archive
        .card-body
          You are about to download all LaTeX-files related to your design. This gives you the opportunity
          to customize your chat history even more.
          %br
          %br
          In order to compile the downloaded files you need
          %ul
            %li a distribution of tex-live 2016 (full)
            %li a LaTeX editor (e.g. Tex-Works)
            %li 
              the 
              %b 
                %a{href: "https://github.com/henningpohl/latex-emoji", target: "_blank"}
                  latex_emoji package
          If you have problems, installing custom packages for your LaTeX distribution, consult the tex-live documentation and follow the instructions provided
          %a{href: "https://tex.stackexchange.com/questions/73016/how-do-i-install-an-individual-package-on-a-linux-system", target: "_blank"}
            %b here
          \.
          %br
          %br
          Happy hacking!
          .mt-3
            = link_to file_download_tex_path(@chat_design), class: "btn btn-primary mr-2 #{'disabled' unless @chat_design.tex_file.attached?}" do
              = icon('fas', 'file-alt')
              = t(".download_tex_files")
              - if !@chat_design.tex_file.attached? && @chat_design.processing_status == "processing"
                %span.fa.fa-spinner.fa-spin
      = link_to chat_upload_chat_designs_path(@chat_design.chat_upload), class: "btn btn-secondary mt-3" do
        .fa.fa-arrow-left
        Back to Designs
      