
html {
  position: relative;
  min-height: 100%;
}

body { 
  padding-top: 60px; 
}

main {
  margin-bottom: 100px; 
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-top: -50px;
}

.transp-5{
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.mt-6{
  margin-top: 53px;
} 
 .product-device {
   position: absolute;
   right: 10%;
   bottom: -30%;
   width: 300px;
   height: 540px;
   background-color: #333;
   border-radius: 21px;
   -webkit-transform: rotate(30deg);
   transform: rotate(30deg);
 }
 
 .product-device::before {
   position: absolute;
   top: 10%;
   right: 10px;
   bottom: 10%;
   left: 10px;
   content: "";
   background-color: rgba(255, 255, 255, .1);
   border-radius: 5px;
 }
 
 .product-device-2 {
   top: -25%;
   right: auto;
   bottom: 0;
   left: 5%;
   background-color: #e5e5e5;
 }

 
 .border-top { 
   border-top: 1px solid #e5e5e5; 
  }
 .border-bottom { 
   border-bottom: 1px solid #e5e5e5; 
  }
 
 .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
 
 .flex-equal > * {
   -ms-flex: 1;
   -webkit-box-flex: 1;
   flex: 1;
 }
 @media (min-width: 768px) {
   .flex-md-equal > * {
     -ms-flex: 1;
     -webkit-box-flex: 1;
     flex: 1;
   }
 }
 
 .overflow-hidden { overflow: hidden; }