.pl-5.pl-5.pb-5.pr-5.pt-2
  - if @element == "page_size"
    .row.d-block
      .col-12.text-center
        %h4 Select a page size
    .row.mt-5
      .col12.text-center.pl-5.pr-5
        = image_tag("preview_page_size.png", class: "mt-2 img-fluid")
  - if @element == "page_outline"
    .row.d-block
      .col-12.text-center
        %h4 Select a design for your messages
    .row.mt-5
      .col-12.text-center.p-4.bg-white.rounded
        - if @value == "bubbles_design"
          - if @columns == "2"
            = image_tag("preview_page_outline_bubbles_02.png", class: "mt-2 img-fluid")
          - elsif @columns == "3"
            = image_tag("preview_page_outline_bubbles_03.png", class: "mt-2 img-fluid")
          - else
            = image_tag("preview_page_outline_bubbles_01.png", class: "mt-2 img-fluid")
        - if @value == "flow_design"
          - if @columns == "2"
            = image_tag("preview_page_outline_flow_02.png", class: "mt-2 img-fluid")
          - elsif @columns == "3"
            = image_tag("preview_page_outline_flow_03.png", class: "mt-2 img-fluid")
          - else
            = image_tag("preview_page_outline_flow_01.png", class: "mt-2 img-fluid")
        - if @value == "table_design"
          = image_tag("preview_page_outline_table.png", class: "mt-2 img-fluid")
  - if @element == "color_set"
    .row.d-block
      .col-12.text-center
        %h4 Select a colorset for your design
    .row.mt-5
      .col-12.text-center
        - @color_sets.each do |color_set|
          = image_tag("preview_color_sets/#{color_set}", width: "250", class: "rounded img-fluid m-3")
  - if @element == "font"
    .row.d-block
      .col-12.text-center
        %h4 Select a font for your design
    .row.mt-5
      .col-12.text-center
        = image_tag("preview_font_firasans.png", width: "300", class: "p-3 img-fluid")
        %br
        = image_tag("preview_font_chancery.png", width: "300", class: "p-3 img-fluid")
        %br
        = image_tag("preview_font_courier.png", width: "300", class: "p-3 img-fluid")
  - if @element == "bg_image"
    .row.d-block
      .col-12.text-center
        %h4 Select a background image
        This is an optional feature. If you do not wish to have an image select 'none'.
    .row.mt-5
      .col-12.text-center
        = image_tag("preview_bg_images/#{@value.chomp('.pdf')}.png", width: "500", class: "rounded img-fluid")