.row.justify-content-between.mt-3.mb-5.pr-5.pl-5
  = link_to chat_upload_chat_design_wizard_path(@chat_upload,@chat_design,:create_design),class:"btn btn-secondary" do
    .col-12
      .row
        .col-12.justifiy-content-center.mt-1.mb-1
          = icon('fas', 'plus-circle')
      .row
        .col-12.justifiy-content-center.mb-1
          Design Creation
  .col-2.pt-3
    %hr
  = link_to chat_upload_chat_design_wizard_path(@chat_upload,@chat_design,:basic_configuration),class:"btn btn-secondary #{ 'disabled' if @chat_design.status == "inactive" }" do
    .col-12
      .row
        .col-12.justifiy-content-center.mt-1.mb-1
          = icon('fas', 'comment')
      .row
        .col-12.justifiy-content-center.mb-1
          Chat Configuration
  .col-2.pt-3
    %hr
  = link_to chat_upload_chat_design_wizard_path(@chat_upload,@chat_design,:style_configuration),class:"btn btn-secondary #{ 'disabled' unless @chat_design.status == "basic_configuration" || @chat_design.active? }" do
    .col-12
      .row
        .col-12.justifiy-content-center.mt-1.mb-1
          = icon('fas', 'pen-nib')
      .row
        .col-12.justifiy-content-center.mb-1
          Style Configuration