.container
  = render 'wizard_head'
  = simple_form_for @chat_design, url: chat_upload_chat_design_wizard_path do |f|
    .jumbotron
      .row.mb-3
        .col-12.col-md-6
          %h6 My Username
          For the successful processing of your history it is important for the service to know which is your user in the chat. Please select your username from the box below.
      .row 
        .col-12.col-md-6
          = f.input :my_user_name, as: :select, collection: @chat_upload.participants, label: false, hint: "Please select your username from the chat"
      .row.mt-3.mb-3
        .col-12.col-md-6
          %h6 Time Period
          You can limit the messages that will be included in your design by selecting a period or jsut a beginning or an end. If you want to include all messages from the upload, leave these fields blank. 
      .row
        .col-12.col-md-3
          = f.input :period_from, as: :string, input_html: { class: 'datetime', value: (f.object.period_from.strftime("%d.%m.%Y %H:%M") if f.object.period_from.present?), autocomplete: 'off' }
        .col-12.col-md-3
          = f.input :period_to, as: :string, input_html:{ class: 'datetime', value: (f.object.period_to.strftime("%d.%m.%Y %H:%M") if f.object.period_to.present?), autocomplete: 'off' }
      .row.mt-3
        .col-12
          = link_to previous_wizard_path, class: "btn btn-secondary mr-2" do
            = t("back", scope: :dict)
          = f.button :submit, t("next", scope: :dict), class: "btn btn-secondary"
  = render 'wizard_footer'
      