.container
  = render 'wizard_head'
  = simple_form_for @chat_design, url: chat_upload_chat_design_wizard_path do |f|
    %div.jumbotron
      .col-12.col-md-6.mb-4
        %h5 Welcome to the Design Creator!
        %h6 Here you can customize your uploaded chat in just a few steps. 
      .col-12.col-md-6.mb-3
        Start by naming your design. Since you can create multiple designs for each upload, this is important for finding this design later.
      .col-12.col-md-6
        = f.input :name, label: false, hint: "Select a name for your desing."
        = f.button :submit, t("next", scope: :dict), class: "btn btn-secondary"
  = render 'wizard_footer'
      