.container
  = render 'wizard_head'
  = simple_form_for @chat_design, url: chat_upload_chat_design_wizard_path do |f|
    .jumbotron
      .row
        .col-3
          = f.input :page_size, as: :select, collection: enum_option_pairs(ChatDesign,:page_size), input_html: { onfocus: "refreshPreview('page_size')" }
          = f.input :page_outline, as: :select, collection: enum_option_pairs(ChatDesign, :page_outline), input_html: { onchange: "refreshPreview('page_outline',chat_design_page_outline.value,chat_design_column_count.value)" }
          = f.input :column_count, as: :select, collection: 1..3, selected: @chat_design.column_count || 1, hint: "Does not apply for table design", input_html: { onchange: "refreshPreview('page_outline',chat_design_page_outline.value,chat_design_column_count.value)" }
          = f.input :color_set, as: :select, collection: enum_option_pairs(ChatDesign, :color_set), input_html: { onfocus: "refreshPreview('color_set')" }
          = f.input :font, as: :select, collection: enum_option_pairs(ChatDesign, :font), input_html: { onfocus: "refreshPreview('font')" }
          = f.input :bg_image, as: :select, collection: ChatDesign.get_background_images, selected: @chat_design.bg_image || '- none -', hint: "Optional feature", input_html: { onchange: "refreshPreview('bg_image',chat_design_bg_image.value)" }
          = link_to previous_wizard_path, class: "btn btn-secondary mr-2" do
            = t("back", scope: :dict)
          = f.button :submit, t("save", scope: :dict), class: "btn btn-success"
        .col-9
          #preview
            .row.d-block
              .col-12.text-center
                %h4.mb-4.mt-3 Create your personalized design
                Choose from the options on the left to personalize your chat history.
                %br
                A preview will appear once you make your selection.
    = render 'wizard_footer'

