<!DOCTYPE html>
<html>
  <head>
    <title>Chatbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('faviicon.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%# Notification and Error Box in top of the page %>
    <div class="container">  
      <% if notice %>
        <div class="alert alert-info m-2 alert-dismissable" role="alert"><%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger m-2 alert-dismissable" role="alert"><%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>

    <main role="main" class="mt-2">
      <%# Dynamic Page Content %>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
